* {
	box-sizing: border-box;
}

html {
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}

.icon-text {
	font-family: Montserrat, sans-serif;
	font-weight: normal;
}

body {
	background-color: #FAF9F6;
	color: #000000;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #FAF9F6;
}

#site-name {
	font-weight: bold;
	padding: 5px 16px;
}

.nav-links {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	padding: 14px 16px;
}

.nav-links:hover {
	background-color: #d9d9d9;
}

/* HOME SECTION */
#home {
	padding-top: 25vh;
	padding-left: 20vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.description {
	color: gray;
	font-size: 1.2rem;
}

.hero {
	font-size: 4rem;
	margin: 0.5vh 0;
}

.highlight {
	color: #ffb703;
}

.headings {
	text-align: center;
	font-size: 2.5rem;
	padding-top: 75px;
	margin-bottom: 10px;
}

.underline {
	background-color: gray;
	height: 0.5vh;
	width: 15vw;
	margin: 0 auto;
}

/* PROJECTS SECTION */
#projects {
	height: 295vh;
}

#project-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	margin-top: 50px;
}

.project-item {
	width: 800px;
	height: 500px;
	border: 4px solid #d9d9d9;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

.project-link {
	text-align: center;
	width: 200px;
	padding: 10px;
	border: 4px solid #d9d9d9;
	margin: 0;
	padding: 14px 16px;
	font-weight: bold;
	font-size: 1.3rem;
	color: black;
}

.project-link:hover {
	border: 4px solid #ffb703;

}

.link-buttons {
	display: flex;
	gap: 50px;
}

.button-links {
		text-decoration: none;
		font-weight: bold;
		color: #000000;
		padding: 14px 16px;
}



/* CONTACT SECTION */
#contact {
	height: 90vh;
}

#icons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 40px;
	margin-top: 13vh;
}

.icon-text {
	margin-left: 8px;
}

.contact-link {
	padding: 15px;
	font-size: 1.3rem;
}

.contact-link:hover {
	background-color: #ffb703;
}

.contact-line-one {
	font-size: 2.2rem;
	font-weight: bold;
	text-align: center;
	max-width: 600px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.contact-line-two {
	font-size: 1.7rem;
	text-align: center;
	max-width: 900px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#footer {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px;
}

/* Styles for screens with a width of 0px to 767px (usually mobile devices) */
@media screen and (max-width: 767px) {
	#navbar {
		flex-direction: column;
		position: absolute;
	}

	#site-links {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	#home {
		display: flex;
		padding-left: 10vw;
		height: 100vh;
	}

	.hero {
		font-size: 4rem;
		margin: 0.5vh 0;
	}

	#projects {
		height: 220vh;
	}

	.project-item {
		width: 80%;
		height: 300px;
	}

	.link-buttons {
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	#contact {
		height: 95vh;
		flex: 1;
	}

	#icons {
		flex-wrap: wrap;
		margin-top: 6vh;
	}
}

/* Styles for screens with a width of 768px to 1023px (usually tablets and small desktops) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.project-item {
		width: 80%;
		height: 400px;
	}
}